name: main
on:
  pull_request:
  push:
env:
  GOFUMPT_VERSION: 0.7.0
  GOLANGCI_LINT_VERSION: 2.1.1
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        cache: true
        go-version-file: go.mod
    - name: build
      run: go build ./...
    - name: test
      run: go test -race -tags=docker ./...
    - name: Check formatting
      run: |
        make format
        git diff --exit-code
    - name: Check generate
      run: |
        make generate
        git diff --exit-code
  darwin:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        cache: true
        go-version-file: go.mod
    - name: build
      run: go build ./...
    - name: test
      run: go test -race  ./...
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        cache: true
        go-version-file: go.mod
    - name: build
      run: go build ./...
    - name: test
      run: go test -race ./...
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          cache: true
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}
      - name: format
        run: make format